body {
    font-family: "Segoe UI", "DejaVu Sans",Verdana, sans-serif;
    background-image:-webkit-linear-gradient(#9f0909, #4e0000);
    background-image:-o-linear-gradient(#9f0909, #4e0000);
    background-image:linear-gradient(#9f0909, #4e0000);
    background-size: 1rem 200rem;
    font-size:0.8em;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
}
.monBody #container {
    width: 1300px;
    margin: 0 auto;
    background:#ffffff;
}
.monBody #header {
    height:140px;
    background-color:#000;
    color:#fff;
}

.menu_haut {background-color:#000;color:#fff;margin-top:-13px;width:100%;}
.menu_haut ul {
	width:100%;
	text-align:center;
	height:30px;
	margin-left:-50px;
	margin-right:-50px;
	}
.menu_haut li {
	text-decoration:none;
	font-weight:bold;
	display:inline;
	font-size:14px;
	padding:10px 10px 10px 10px;
	color:#fff;
	}
.menu_haut li a {
	color: #fff;
	text-decoration: none;
	display: inline;
	height: 100%;
	border: 0 none;
}
.menu_haut li a:hover {
	color:#000;
	background:#eee;
}

.monBody #contenu {
    padding:20px;
    overflow: auto;
}
.monBody #footer {
    padding: 0 10px;
    font-size:0.8em;
    text-align:center;
    height:150px;
    background:url(/image/footer.jpg) no-repeat;
}
.baniere{float:left;
  margin-top:20px;
  margin-left:5px;
  border:none;}
.baniere img{
  border:none;
}

#LogoNode {
    max-height: 20%;
    max-width: 20%;
}

a  {
    text-decoration:none;
    color:#0072ff;
}

.traitVertical {
  border-left: 1px white solid;
}

.photosRep{
    display : flex;
}

.photosRep img {
    height : 200px;
}

.photosRep > * {
    display : flex;
    flex-direction: column;
}


.liste_vip{
    width : 300px;
    float : right;
    padding : 10px;
    border-radius: 5%;
    border : 1px solid black;
}

.liste_vip h3{
    background-color: black;
}

.liste_vip ul{
    padding : 0
}

.liste_vip li{
   list-style: none;
}


.photos_albums {
    width : 20%;
    float : right
}

.photos_albums img{
    width : 50px;
    height : 70px
}

.caroussel_photo_affiche{
    height : 150px;
    display : flex;
    justify-content: center;
}


.photo_affiche img{
    height : 150px;
}

.caroussel_photo_affiche a{
    line-height: 150px;
    margin : 0px 30px;
}


.menu_gauche {
    color : white;
    background-color: black;
    border-radius : 15px;
    width : 10%;
    height : auto;
}

.menu_gauche ul{
    padding : 0;
    list-style : none;
}
.menu_gauche li {
    border-top: 1px solid white;
}

.menu_gauche a {
    font-size : 20px;
    line-height: 40px;
    color : white;
    
}

.formBloc {
    display : flex;
    justify-content: space-around;
    align-items: flex-start;
}

table img{
    width : 20px;
    height : 20px;
}

.formBloc fieldset, .formBloc table{
    width : 80%;
}

.formBloc table{
    width : 60%;
    border-collapse: collapse;
}

.formBloc table th, .formBloc table td{
    border : 1px solid black;
    line-height: 25px;
}

.remplir{
    margin : 20px;
    text-align : left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
}

.deconnexion{
    border : 1px solid white;
    float : right;
    width : 300px;
    margin-top : 40px;
    margin-right : 20px;
    line-height : 30px
}

.deconnexion a {
    color : white;
    text-decoration: none;
    font-style : italic
}

legend{
    font-weight: bold;
}