body {
    font-family: "Segoe UI", "DejaVu Sans", Verdana, sans-serif;
    background-image: -webkit-linear-gradient(#9f0909, #4e0000);
    background-image: -o-linear-gradient(#9f0909, #4e0000);
    background-image: linear-gradient(#9f0909, #4e0000);
    background-size: 1rem 200rem;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
}

.monBody #container {
    width: 1300px;
    margin: 0 auto;
    background: #ffffff;
}

.monBody #header {
    height: 140px;
    background-color: #000;
    color: #fff;
}

.menu_haut {
    background-color: #000;
    color: #fff;
    margin-top: -13px;
    width: 100%;
}

.menu_haut ul {
    width: 100%;
    text-align: center;
    height: 30px;
    margin-left: -50px;
    margin-right: -50px;
}

.menu_haut li {
    text-decoration: none;
    font-weight: bold;
    display: inline;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    color: #fff;
}

.menu_haut li a {
    color: #fff;
    text-decoration: none;
    display: inline;
    height: 100%;
    border: 0 none;
}

.menu_haut li a:hover {
    color: #000;
    background: #eee;
}

.monBody #contenu {
    padding: 20px;
    overflow: auto;
}

.monBody #footer {
    padding: 0 10px;
    font-size: 0.8em;
    text-align: center;
    height: 150px;
    background: url(/image/footer.jpg) no-repeat;
}

.baniere {
    float: left;
    margin-top: 20px;
    margin-left: 5px;
    border: none;
}

.baniere img {
    border: none;
}

#LogoNode {
    max-height: 20%;
    max-width: 20%;
}

a {
    text-decoration: none;
    color: #0072ff;
}

.traitVertical {
    border-left: 1px white solid;
}

.photosRep {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 20px;
}

.photosRep img {
    height: 200px;
    margin-bottom: 10px;
}

.photosRep>* {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.liste_vip {
    width: 300px;
    float: right;
    padding: 10px;
    border-radius: 5%;
    border: 1px solid black;
}

.liste_vip h3 {
    background-color: black;
}

.liste_vip ul {
    padding: 0
}

.liste_vip li {
    list-style: none;
}

.photos_albums {
    width: 20%;
    float: right
}

.photos_albums img {
    width: 50px;
    height: 70px
}

.caroussel_photo_affiche {
    height: 150px;
    display: flex;
    justify-content: center;
}

.photo_affiche img {
    height: 150px;
}

.caroussel_photo_affiche a {
    line-height: 150px;
    margin: 0px 30px;
}

.imageNonSelectionne {
    opacity: 50%;
}

.boutonsAlbums {
    display: flex;
    justify-content: space-between;
}

.boutonsAlbums a {
    border: 1px solid black;
    color: black;
    margin: 2px
}

.lettres {
    margin-top: 10px;
    margin-bottom: 20px;
}

.lettres * {
    font-size: 18px;
    margin-right: 10px;
}

.detailsVip {
    text-align: justify;
}

.detailsVip>img {
    float: left;
    width: 150px;
    margin: 0px 20px 20px 0px
}

.containerLien {
    position: relative
}

.infoBulle {
    position: absolute;
    top: 35px;
    left: 0px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    color: black;
    padding: 10px;
    opacity: 0;
    z-index: 5;
}

.infoBulle>div {
    max-height: 100px;
    overflow: hidden;
    display: flex;
    column-gap: 10px;
}

.infoBulle img {
    height: 100px;
}

a:hover~.infoBulle {
    opacity: 1;
}