<form method="POST" action="/login">

    <div class="formLogin">
        <label for="login">Login :</label>
        <input id="login" name="login" type="text" autocomplete="off"/>

        <label for="mdp">Mot de passe :</label>
        <input id="mdp" name="mdp" type="password" autocomplete="off"/>
    </div>

    <br/>

    <input type="reset" value="Annuler"/>
    <input type="submit" value="Connexion"/>

</form>
