<div class="menu_gauche">
    <h1>VIPs</h1>
    <ul>
        <li> <a href="/addVip"> Ajouter </a></li>
        <li> <a href="/modifyVip"> Modifier </a></li>
        <li> <a href="/deleteVip"> Supprimer </a></li>
    </ul>
</div>